*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #9645D7
}
header {
    color: #000000;
    padding: 24px 0;
    font-size: 24px;
}
.cabecalho-imagem{
    width: 6%;
}